{
  "gen_service_a": "pub ${{moduleName}}_${{business_name}}_service: ${{structName}}Service,",
  "gen_service_b": "${{moduleName}}_${{business_name}}_service: ${{structName}}Service {},"
  {% if not isJoin %},
  "gen_router_a": ".nest(\"/${{businessName}}\",${{business_name}}_api())",
  "gen_router_b": "fn ${{business_name}}_api() -> Router {\n    Router::new()\n        .route(\"/list\", post(${{file_name}}_controller::list))\n {% if isM2M %}       .route(\"/listAllSimple\", get(${{file_name}}_controller::all_simple)){% endif %}\n        .route(\"/{${{pkColumn.rustField}}}\", get(${{file_name}}_controller::detail))\n        {% if not swOpt.notInsert %}.route(\"/\",router_log!(post, ${{file_name}}_controller::add, \"${{functionName}}\", \"新增\"))\n {% endif %}       .route(\"/\", router_log!(put, ${{file_name}}_controller::update, \"${{functionName}}\", \"修改\"))\n        .route(\"/{${{pkColumn.rustField}}}\", delete(${{file_name}}_controller::remove))\n         {% if not swOpt.notExport %}.route(\"/export\", post(${{file_name}}_controller::export_to_excel))\n{%endif%}}"
  {% endif %}
}






