use std::sync::LazyLock;
use axum::Router;
use axum::routing::{delete, get, post, put};

pub mod controller;
pub mod domain;
pub mod service;
use crate::{router_log};
use service::*;
use controller::*;

pub static ${{ moduleName|upper }}_CONTEXT: LazyLock<${{ moduleName|upperCamel }}ServiceContext> =
LazyLock::new(|| ${{ moduleName|upperCamel }}ServiceContext::default());

pub struct ${{ moduleName|upperCamel }}ServiceContext {
//gen_service_a
//endgen_service_a
}

impl Default for ${{ moduleName|upperCamel }}ServiceContext {
fn default() -> Self {
Self {
//gen_service_b
//endgen_service_b
}
}
}

pub(crate) fn build_${{ moduleName }}_api() -> Router {
Router::new()
//gen_router_a
//endgen_router_a
}
//gen_router_b
//endgen_router_b