pub(crate) fn build_system_api() -> Router {
    Router::new()
        .nest("/user", user_api())
}
fn notice_api() -> Router {
    Router::new()
        .route("/list", post(sys_notice_controller::list))
        .route("/{notice_id}", get(sys_notice_controller::detail))
        .route("/", post(sys_notice_controller::add))
        .route("/", put(sys_notice_controller::update))
        .route("/{notice_id}", delete(sys_notice_controller::remove))
}