use crate::${{ moduleName }}::domain::mapper::${{ moduleName }}_${{ business_name }}::${{ structName }};
{% for use in useListMap["vo"] %}
    use ${{ use }};
{% endfor %}
{% if isO2M or isO2O %}
    use super::super::vo::${{ subTable.structName }}VO;
{% endif %}

{% macro serial(column) -%}
    {% if column.rustType == 'DateTime' %}
        #[serde(with = "crate::utils::date_time_format")]
    {% else %}

    {% endif %}
{%- endmacro %}
//详情
#[derive(Clone, Debug, serde::Serialize, serde::Deserialize)]
#[serde(rename_all = "camelCase")]
pub struct ${{ structName }}VO {
// ${{ pkColumn.columnComment }}
pub ${{ pkColumn.rustField }}:Option<${{ pkColumn.rustType }}>,
{% for column in columns %}
    {% if column.isDetail %}
        // ${{ column.comment }}
        ${{ serial(column) }}
        pub ${{ column.rustField }}:Option<${{ column.rustType }}>,
    {% endif %}
{% endfor %}
{% if isM2M %}
    //${{ subTable.functionName }} 主键列表
    pub ${{ subTable.pkColumn.rustField }}s:Option<Vec<String>>,
{% endif %}
{% if isO2M %}
    //${{ subTable.functionName }}列表
    pub ${{ subTable.business_name }}s:Option
    <Vec<${{ subTable.structName }}VO>>,
{% endif %}
{% if isO2O %}
    //${{ subTable.functionName }}
    pub ${{ subTable.business_name }}:Option<${{ subTable.structName }}VO>,
{% endif %}
{% if isSub %} pub ${{ tableOptions.mainTableDisColName }}:Option
    <String>,{% endif %}

}

impl From<${{ structName }}> for ${{ structName }}VO {
fn from(arg: ${{ structName }}) -> Self {
Self {
${{ pkColumn.rustField }}:arg.${{ pkColumn.rustField }},
{% for column in columns %} {% if column.isDetail %} ${{ column.rustField }}: arg.${{ column.rustField }},
{% endif %}{% endfor %}
{% if isM2M %}  ${{ subTable.pkColumn.rustField }}s:None,{% endif %}
{% if isO2M %}
    ${{ subTable.business_name }}s:None,
{% endif %}
{% if isO2O %}
    ${{ subTable.business_name }}:None,
{% endif %}
{% if isSub %}${{ tableOptions.mainTableDisColName }}:arg.${{ tableOptions.mainTableDisColName }},{% endif %}
}
}
}

//查询列表用的
#[derive(Clone, Debug, serde::Serialize, serde::Deserialize)]
#[serde(rename_all = "camelCase")]
#[derive(macros::Export)]
pub struct ${{ structName }}ListVO {
// ${{ pkColumn.columnComment }}
pub ${{ pkColumn.rustField }}:Option<${{ pkColumn.rustType }}>,
{% for column in columns %}
    {% if column.isList %}
        // ${{ column.comment }}
        {% if column.isExport %}
            #[excel( "${{ column.comment }}" {% if column.dictType %}, dictType = "${{ column.dictType }}",{% endif %}
            {% if column.readConverterExp %}, dictType = "${{ column.readConverterExp }}",{% endif %})]
        {% endif %}
        ${{ serial(column) }}
        pub ${{ column.rustField }}:Option<${{ column.rustType }}>,
    {% endif %}
{% endfor %}
//${{ tableOptions.mainTableDisLabel }}
{% if isSub %} pub ${{ tableOptions.mainTableDisColName }}:Option<String>,{% endif %}
}

impl From<${{ structName }}> for ${{ structName }}ListVO {
fn from(arg: ${{ structName }}) -> Self {
Self {
${{ pkColumn.rustField }}:arg.${{ pkColumn.rustField }},
{% for column in columns %} {% if column.isList %} ${{ column.rustField }}: arg.${{ column.rustField }},
{% endif %}{% endfor %}
{% if isSub %}${{ tableOptions.mainTableDisColName }}:arg.${{ tableOptions.mainTableDisColName }},{% endif %}
}
}
}


