-- 菜单 SQL
insert into sys_menu (menu_id, menu_name, parent_id, order_num, path, component, is_frame, is_cache, menu_type, visible, status, perms, icon, create_by, create_time, update_by, update_time, remark)
values('${{sqlIds[0]}}','${{functionName}}', '${{tableOptions.parentMenuId}}', '1', '${{businessName}}', '${{moduleName}}/${{businessName}}/index', 1, 0, 'C', '0', '0', '${{permissionPrefix}}:list', '#', 'admin', sysdate(), '', null, '${{functionName}}菜单');



-- 按钮 SQL
insert into sys_menu (menu_id, menu_name, parent_id, order_num, path, component, is_frame, is_cache, menu_type, visible, status, perms, icon, create_by, create_time, update_by, update_time, remark)
values('${{sqlIds[1]}}', '${{functionName}}查询','${{sqlIds[0]}}', '1',  '#', '', 1, 0, 'F', '0', '0', '${{permissionPrefix}}:query',        '#', 'admin', sysdate(), '', null, '');

insert into sys_menu (menu_id, menu_name, parent_id, order_num, path, component, is_frame, is_cache, menu_type, visible, status, perms, icon, create_by, create_time, update_by, update_time, remark)
values('${{sqlIds[2]}}', '${{functionName}}新增','${{sqlIds[0]}}', '2',  '#', '', 1, 0, 'F', '0', '0', '${{permissionPrefix}}:add',          '#', 'admin', sysdate(), '', null, '');

insert into sys_menu (menu_id, menu_name, parent_id, order_num, path, component, is_frame, is_cache, menu_type, visible, status, perms, icon, create_by, create_time, update_by, update_time, remark)
values('${{sqlIds[3]}}', '${{functionName}}修改','${{sqlIds[0]}}', '3',  '#', '', 1, 0, 'F', '0', '0', '${{permissionPrefix}}:edit',         '#', 'admin', sysdate(), '', null, '');

insert into sys_menu (menu_id, menu_name, parent_id, order_num, path, component, is_frame, is_cache, menu_type, visible, status, perms, icon, create_by, create_time, update_by, update_time, remark)
values('${{sqlIds[4]}}', '${{functionName}}删除','${{sqlIds[0]}}', '4',  '#', '', 1, 0, 'F', '0', '0', '${{permissionPrefix}}:remove',       '#', 'admin', sysdate(), '', null, '');

insert into sys_menu (menu_id, menu_name, parent_id, order_num, path, component, is_frame, is_cache, menu_type, visible, status, perms, icon, create_by, create_time, update_by, update_time, remark)
values('${{sqlIds[5]}}', '${{functionName}}导出','${{sqlIds[0]}}', '5',  '#', '', 1, 0, 'F', '0', '0', '${{permissionPrefix}}:export',       '#', 'admin', sysdate(), '', null, '');