use rbatis::{field_name, Page, PageRequest};

use crate::context::CONTEXT;
use crate::domain::${{table.moduleName}}::dto::{${{table.className}}AddDTO, ${{table.className}}PageDTO, ${{table.className}}UpdateDTO};
use crate::domain::${{table.moduleName}}::mapper::${{table.moduleName}}_${{table.businessName}}::${{table.className}};
use crate::domain::${{table.moduleName}}::vo::{SysConfigVO, ${{table.className}}VO};
use crate::error::Error;
use crate::error::Result;
use crate::{pool, remove_batch};

/// notice service
pub struct ${{table.className}}Service {}

impl ${{table.className}}Service {
    pub async fn page(&self, arg: &${{table.className}}PageDTO) -> Result<Page<${{table.className}}>> {
        let data = ${{table.className}}::select_page(pool!(), &PageRequest::from(arg), arg).await?;

        Ok(data)
    }

    pub async fn detail(&self, ${{pk_column.columnName}}: &str) -> Result<${{table.className}}> {
        let notice =
            ${{table.className}}::select_by_column(pool!(), field_name!(${{table.className}}.${{pk_column.columnName}}), ${{pk_column.columnName}})
                .await?
                .into_iter()
                .next()
                .ok_or_else(|| Error::from(format!("不存在:{:?} ！", ${{pk_column.columnName}})))?;
        Ok(notice)
    }

    pub async fn add(&self, dto: ${{table.className}}AddDTO) -> Result<u64> {
        let mut data = ${{table.className}}::from(dto);
        data.create_by = Some(crate::web_data::get_user_name());
        let result = Ok(${{table.className}}::insert(pool!(), &data).await?.rows_affected);
        result
    }

    pub async fn update(&self, dto: ${{table.className}}UpdateDTO) -> Result<u64> {
        let mut data = ${{table.className}}::from(dto);
        data.update_by = Some(crate::web_data::get_user_name());
        let result = ${{table.className}}::update_by_column(pool!(), &data, "${{pk_column.columnName}}").await;
        Ok(result?.rows_affected)
    }

    pub async fn remove(&self, ${{pk_column.columnName}}: &str) -> Result<u64> {
        let targets = ${{table.className}}::select_by_column(pool!(), "${{pk_column.columnName}}", ${{pk_column.columnName}}).await?;

        let r = ${{table.className}}::delete_by_column(pool!(), "${{pk_column.columnName}}", ${{pk_column.columnName}}).await?;
        if r.rows_affected > 0 {
            //copy data to trash
            CONTEXT
                .sys_trash_service
                .add("${{table.moduleName}}_${{table.businessName}}", &targets)
                .await?;
        }
        Ok(r.rows_affected)
    }
    remove_batch!(${{pk_column.columnName}}s);
}
